header {
 
    height: 100px;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    }
    header nav {
     
    justify-content: space-between;
    height: 100%;
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: 1440px;
    }
    header nav h1 {
     
    }
    header nav h1 a {
     
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 130px;
    width: 130px;
    height: 130px;
    vertical-align: -40px;
    font-size: 0;
    }
    header nav ul.gnb {
     
    display: flex;
    margin-top: 30px;
    }
    header nav ul.gnb li {
     
    }
    header nav ul.gnb li a {
     
    margin: 0px 57px;
    color: white;
    }
    header nav ul.gnb .last-child {
     
    }
    header nav ul.gnb .last-child a {
     
    }
    